# xcode noise
Roll Call/build/*
Roll Call/*.pbxuser
Roll Call/*.mode2v3
Roll Call/*.mode1v3
Roll Call/*.perspective
Roll Call/*.perspectivev3
 
# old skool
.svn
 
# osx noise
.DS_Store
profile
 
*.swp
*~.nib